<h2><%= @how.name %></h2>
<%= link_to "Edit", edit_listhowto_path(@how) %>
<%= link_to "Delete", listhowto_path(@how), :method => "delete", :confirm => "Are you sure you want to delete this howtolist?" %>
<%= link_to "Back", listhowtos_path %>
<%= link_to "New Step", new_listhowto_step_path(@how) %>

<ul id='steps'>
<% @how.steps.each do |step| %>
<li>
#<%= step.id %> -
<%= link_to step.content, [@how, @step] %>
</li>
<% end %>
</ul>
